*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', monospace;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #1fa5a5, #ec9109);
    padding: 10px;
} 

.todo
{
    width: 100%;
    max-width: 550px;
    background-color: aliceblue;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}

.todo h2
{
    color: #108f8f;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.todo h2 img
{
    width: 80px;
    margin-left: 2px;
}

.row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dddedf;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input
{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-size: 15px;
}

button
{
    border: none;
    outline: none;
    padding: 15px 40px;
    background: #c2bf10;
    color: rgb(255, 255, 255);
    font-size: 17px;
    cursor: pointer;
    border-radius: 25px;
}

ul li
{
    list-style: none;
    font-size: 18px;
    padding: 10px 20px 15px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before
{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked
{
    color: #0e0d0d;
    text-decoration: underline;
}

ul li.checked::before
{
    background-image: url("images/todo%20tick.png");
}

ul li span
{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #242323;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
}

ul li span:hover
{
    background: #b3b3b3;
}
